:root {

  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

  --line: 1px solid var(--color-grey-light-2);
}

.container {

  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

@media only screen and (max-width: 1050px) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}


@media only screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    min-height: 11rem;
    align-content: space-around;
    padding-bottom: 1rem;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  animation-name: moveInLeft;
  animation-duration: 3s;

  animation-delay: 1s;

}



.content {
  display: flex;
  flex-direction: row;

  animation-name: moveInRight;
  animation-duration: 4s;

  animation-delay: 1s;
}

@media only screen and (max-width: 1075px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  /* flex: grow shrink basis */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation-name: moveInLeft;
  animation-duration: 3s;

  animation-delay: 1s;
}



.hotel-view {
  background-color: #fff;
  flex: 1;
}

.container {
  animation: fadeUp 5s ease;
}

@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }

  80% {
    transform: translateX(80px);
  }

  100% {

    opacity: 1;
    transform: translate(0);

  }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(200px);
    }

    80% {
        transform: translateY(-80px);
    }

    100% {

        opacity: 1;
        transform: translate(0);

    }

}

@keyframes iconRotation {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    60% {
        transform: rotate(90deg);
    }

    100% {

        opacity: 1;

        transform: translate(0);

    }

}


